<div class="wrapper">
	<header class="main-header">
		<a class="logo" href="<?php echo base_url(); ?>template">
			<span class="logo-mini">
				<b>
					A
				</b>
				LT
			</span>
			<span class="logo-lg">
				<b>
					Admin
				</b>
				LTE
			</span>
		</a>
		<nav class="navbar navbar-static-top" role="navigation">
			<a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
				<span class="sr-only">
					Toggle navigation
				</span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<li class="dropdown user user-menu">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<img ";="" ?="" assets="" src="<?php echo base_url() . ">
								dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
								<span class="hidden-xs">
									Si Oncom
								</span>
							</img>
						</a>
						<ul class="dropdown-menu">
							<li class="user-header">
								<img ";=" " ?=" " assets=" " src="<?php echo base_url() . ">
									dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
								<p>
									Si Oncom
									<small>
											Ketua Divisi Penelitian Pengembangan dan Gerakan
										</small>
								</p>
								</img>
							</li>
							<li class="user-footer">
								<div class="pull-left">
									<a class="btn btn-default btn-flat" href="#">
										Profile
									</a>
								</div>
								<div class="pull-right">
									<a class="btn btn-default btn-flat" href="#">
										Sign out
									</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<aside class="main-sidebar">
		<section class="sidebar">
			<div class="user-panel">
				<div class="pull-left image">
					<img ";=" " ?=" " assets=" " src="<?php echo base_url() . ">
						dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
					</img>
				</div>
				<div class="pull-left info">
					<p>
						Si Oncom
					</p>
					<a href="#">
						Turun Tangan Malang
					</a>
				</div>
			</div>
			<ul class="sidebar-menu">
				<li class="header">
					HEADER
				</li>
				<li class="active">
					<a href="#">
						<i class="fa fa-dashboard">
						</i>
						<span>
							Dashboard
						</span>
					</a>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-file">
						</i>
						<span>
							Kegiatan
						</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right">
							</i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li>
							<a href="#">
								Buat Kegiatan
							</a>
						</li>
						<li>
							<a href="#">
								Kelola Kegiatan
							</a>
						</li>
						<li>
							<a href="#">
								Kelola Feedback
							</a>
						</li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-user">
						</i>
						<span>
							Relawan
						</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right">
							</i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li>
							<a href="#">
								Tambah Relawan
							</a>
						</li>
						<li>
							<a href="#">
								Kelola Relawan
							</a>
						</li>
						<li>
							<a href="#">
								Absensi Relawan
							</a>
						</li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-shopping-cart">
						</i>
						<span>
							Garage Sale
						</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right">
							</i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li>
							<a href="#">
								Tambah Produk
							</a>
						</li>
						<li>
							<a href="#">
								Kelola Produk
							</a>
						</li>
						<li>
							<a href="#">
								Pesanan Produk
							</a>
						</li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-heart">
						</i>
						<span>
							Donasi
						</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right">
							</i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li>
							<a href="#">
								Semua Donasi
							</a>
						</li>
						<li>
							<a href="#">
								Konfirmasi Donasi
							</a>
						</li>
						<li>
							<a href="#">
								Kelola Pengeluaran Dana
							</a>
						</li>
						<li>
							<a href="#">
								Kelola Donatur
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</section>
	</aside>
</div>
